   .ecomsize
        {
           
           
        
        

          width: 80%;
          
          margin: auto;

            
    

        }


        .firstline
        {
            background-color: red;
            width: 94%;
           
        }
         .kola
          {
              margin-top: 10px;
          margin-bottom: 10px;
          float: right;
        
          }


          .sbox
          {
             width: 100px;
             height: 100px;
             margin-top: 10px;
             
        
          }


        .searchbanner
        {
            height: 120px;
            background-color: #cce6ff;
            width: 100%;
            margin: auto;
          
         
            clear: both;

        }

        .div1{
         height: 120px;
          width : 30%;
          background-image:url(images/pixlogo.png);
          background-repeat: no-repeat;
    background-size: 100% 100%;
    float:left ;
           margin-left: 1%;
      
        }
        .div2{
         height: 120px;
          width : 30%;
            background-color:  blue;
               float:left ;
       margin-left: 3%;
        }
        .div3{
         height: 120px;
          width : 30%;
            background-color:  red;
                float:left ;
                  margin-left: 3%;
        }


      
        
       ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

        li
        {
            float: left;
            padding: 15px 2px;
        }
            li.forli1
            {
                width: auto;
            }
               .space1
        {
           
            height: 50px;
            width: auto;
            margin-left: 0px;
            margin-top: 0px;
          
           
            float: left;

       
                    }
        
               #space2
        {
              margin-right: 100px;
              margin-left: 10px;
              margin-top: 7px;
              
                    }
        
               #space3
        {
              margin-top: 20px;
              margin-left: 2px;
              
                    }


                   #space4
        {
              margin-top: 10px;

              
                    }

                     .divmenu
        {
     position: absolute;
    top: 90px;
    margin-left: 400px;
    margin-top: 10px;
              background-color: red;
              height: 50px;
              width: 500px;
              
                    }



                   







                 .forfloat
        {
           
           
           float: left;
           clear:left;
       
                    }